<div class="card">
    <div class="card-header">
        <h3 class="card-title">Create a new form</h3>
    </div>
    <div class="card-body">
        <div id="form-builder-container">
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-danger text-white" id="clear-form-builder">Clear</button>
        <div>
            <button class="btn btn-success text-white mx-5" id="save-form-builder">Save</button>
            <button class="btn my-bg-primary text-white" id="done-form-builder">Done</button>
        </div>

    </div>
</div>