<div [hidden]="!showLoadingIndicator" class="loading-indicator-container">
    <div class="spinner-border text-info" role="status">
    </div>
</div>

<div class="active-form" *ngFor="let option of activeForms">
    <span class="mx-2 material-icons" style="font-size:76px; color:red">{{option.icon}}</span>
    <div class="file-img">
        <div class="form-desc">
            <div>
                <a href="">{{option.name}}</a>
            </div>
            <div>
                <p>Path : <b>{{option.routePath}}</b></p>
            </div>
            <div>
                <p>Created On: <b style="color: blue;">{{option.createdOn | date:'dd/MM/yyyy'}}</b></p>
            </div>
            <div>
                <p>Total Responses : <b style="color: blue;">{{option.totalresponses}}</b></p>
            </div>
        </div>
    </div>
</div>