a{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-decoration: none;
    color: black;
    margin-bottom: 0px; 
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

p{
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.file{
    display: inline-block;
    width: 211.09px; 
    height: auto;
    padding-bottom: 12px;
    padding-top: 8.17px;
    padding-left: 12px;
    padding-right:12px;
    border: 1px solid #B7B7B7;  
    border-radius:10px;
    margin-right: 20px;
    margin-top: 40px;
    background: #FFFFFF;
}

.file-info{
    height: 18px; 
    width: 18px;
    margin: 0px;
    display: inline-block;
}

.folder-icon{
    left: 25.63%;
    right: 67.51%;
    top: 29%;
    bottom: 61.31%;
    margin-left: 33.12px; 
    margin-right: 26.13px; 
    margin-bottom: 9.14px;
    height: 104.68px;
    width: 131.75px;
    left: 492.12px;
    top: 313.17px;
    border-radius: 10px;
}

.folder-title{
    height:auto;
    line-height: 23px;
    text-align: center;
}

.file-options{
    height: 17px;
    width: 4px;
    left: 646px;
    top: 302px;
    border-radius: 0px;
    margin-left: 150px;    
}
