<div class="d-flex flex-column flex-shrink-0 p-3 text-white my-bg-primary sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">NAAC Documentation System</span>
    </a>
    <hr>
    <ul class="nav  flex-column mb-auto">

        <li *ngFor="let option of sideBarOptions">
            <a routerLink="{{option.routePath}}" routerLinkActive="selected"
                class="nav-link  text-white d-flex align-items-center">
                <span class="mx-2 material-icons-outlined">
                    {{option.icon}}
                </span>
                {{option.name}}
            </a>
        </li>

    </ul>
    <hr>

    <div class="dropdown">
        <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" style="cursor: pointer;" id="dropdownMenuButton"
            data-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>naac@gmail.com</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

</div>