<nav class="navbar navbar-expand-lg navbar-light bg-light files-header">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="btn my-bg-primary text-white" (click)="openModal(createFolder)">+ Create New
                        Folder</button>
                </li>
                <li class="nav-item" [hidden]="!showCreateFormButton">
                    <button class="btn my-bg-primary text-white mx-5" routerLink="/create-form">+ Create New
                        Form</button>
                </li>
                <li class="nav-item" [hidden]="!showCreateFormButton">
                    <button class="btn my-bg-primary text-white" (click)="openModal(uploadDocument)">Upload Document</button>
                </li>
            </ul>

            <div style="flex:1">


            </div>

            <form class="form-inline">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <span class="material-icons-outlined" [ngClass]="{'view-button':true,'selected':!isGridView}"
                (click)="changeView()">
                view_list
            </span>

            <span class="material-icons-outlined view-button" [ngClass]="{'view-button':true,'selected':isGridView}"
                (click)="changeView()">
                grid_view
            </span>

        </div>
    </div>
</nav>


<!--Create New Folder Modal-->
<ng-template #createFolder let-modal>
    <div class="modal-header" style="margin: 0px 30px;">
        <p class="modal-title" style="font-size:24px;">Create New Folder</p>
        <button type="button" class="close" aria-label="Close" style="color:#989898"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="folderDetailsForm" (ngSubmit)="onSubmitFolderDetails()">
        <div class="modal-body">
            <div class="form-field">
                <p style="font-size:18px; color: #505050;">Folder Name</p>
                <input type="text" class="create-folder-input" id="folderName" formControlName="folderName">
            </div>
            <div class="form-field" style="margin-top: 16px;">
                <p style="font-size:18px; color: #505050;">Description</p>
                <textarea class="create-folder-input" style="height: 133px; resize: none;" id="description"
                    formControlName="description"></textarea>
            </div>
        </div>
        <div class="modal-footer" style="margin: 0px 30px;">
            <button type="button" class="btn cancel-btn" (click)="modal.close('Close click')">Cancel</button>
            <button type="submit" class="btn create-btn">Create</button>
        </div>
    </form>
</ng-template>

<!--Upload File Modal-->
<ng-template #uploadDocument let-modal>
    <div class="modal-header" style="margin: 0px 30px;">
        <p class="modal-title" style="font-size:24px;">Upload Document</p>
        <button type="button" class="close" aria-label="Close" style="color:#989898"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="fileUploadForm" (ngSubmit)="onSubmitFileUpload()">
        <div class="modal-body">
            <div class="form-field">
                <p style="font-size:18px; color: #505050;">Document Name</p>
                <input type="text" class="create-folder-input" id="folderName" formControlName="folderName">
            </div>
            <div class="form-field" style="margin-top: 16px;">
                <p style="font-size:18px; color: #505050;">Description</p>
                <textarea class="create-folder-input" style="height: 133px; resize: none;" id="description"
                    formControlName="description"></textarea>
            </div>
            <div class="form-field" style="margin-top: 16px;">
                <p style="font-size:18px; color: #505050;">Upload Document</p>
                    <input type="file" class="" (change)="onFileSelected($event)" id="uploadDocument" formControlName="uploadDocument">
            </div>
        </div>
        <div class="modal-footer" style="margin: 0px 30px;">
            <button type="button" class="btn cancel-btn" (click)="modal.close('Close click')">Cancel</button>
            <button type="submit" class="btn create-btn">Upload</button>
        </div>
    </form>
</ng-template>