.screen {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
}

.screen .main-section{
  flex: 1;
  background-color: var(--secondary);
}