<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center">
        <div class="option-btn cursor-pointer" (click)="toggleResponseView(false)" [class.selected]="!showResponseView">
            Template
        </div>
        <div class="option-btn cursor-pointer" (click)="toggleResponseView(true)" [class.selected]="showResponseView">
            Responses
        </div>
        <div class="m-5"></div>
        <div [hidden]="isResponseEnabled == undefined" class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="isResponseEnabled" (change)="enableResponse($event)">
            <label class="custom-control-label" for="customSwitch1">Enable Response</label>
        </div>
    </div>
    <div *ngIf="showResponseView" class="group-id-bar">
        <span class="group-id-item selected">
            group id ajdfajl; falfjldsa fla; fl;ajflaj
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
        <span class="group-id-item">
            group id
        </span>
    </div>
    <div [hidden]="!isLoading" class="loading-indicator-container">
        <div class="spinner-border text-info" role="status">
        </div>
    </div>
    <div class="mt-4">
        <div *ngIf="!showResponseView">

            <div *ngIf="this.form != undefined; else elseBlock">
                <app-form-builder [form]="form"></app-form-builder>
            </div>
            <ng-template #elseBlock>
                <div [hidden]="isLoading">
                    An error occurred while retrieving the form.
                </div>
            </ng-template>

        </div>
        <div *ngIf="showResponseView">
            reponseview
        </div>
    </div>
</div>