/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --primary: #6a65a7;
  --secondary: #f2f5f7;
  --secondary-light: #fff;
  --selected: rgba(196, 196, 196, 0.16);
  --border-color: #B7B7B7;
  --text-primary: #fff;
}

.my-bg-primary {
  background-color: var(--primary);
}
.my-bg-secondary {
  background-color: var(--secondary);
}

.selected {
  background-color: var(--selected);
}

.required-field:after {
  content:"*";
  color:red;
}

.cursor-pointer{
  cursor: pointer;
}


.loading-indicator-container{

  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}